body {
    background-color: SeaShell
}

table {
    border-collapse: collapse; 
    margin-left: auto; 
    margin-right: auto; 
    width: 70%; 
    background-color: #E7EDF5; 
    table-layout: fixed;
}

th, td {
    border: 1px solid black; 
    word-break: break-word;
}

.indent {
    width:10px;
}

.duration {
    width: 50px;
}

.title  {
    width: auto;
}

.passState {
    color: white; 
    background-color: DarkGreen; 
    width: 45px; 
    text-align: right;
}
.failState {
    color: white; 
    background-color: DarkRed; 
    width: 45px; 
    text-align: right;
}

.pass {
    background-color: #33CC66;
}
.fail {
    background-color: #E0A7A7;
}

.failDetail {
    width: auto; 
    word-wrap: break-word;
}
.hypertext {
    text-decoration: underline; 
    color: blue;
}
.endStyle {
    text-align: center; 
    background-color: #E7EDF5; 
    width: 150px; 
    margin-left: auto; 
    margin-right: auto;
}